@model BackEndAssignment.Models.Questions
@{
    ViewBag.Title = "Home Page";
}
    <button class="btn btn-primary" style="margin:50px;margin-bottom:0 !important" onclick="location.reload()">Refresh</button>
<h1>Last 50 Questions</h1>
<p>@Model.items.Count questions</p>
<hr />
    <div class="row">
        @foreach (var question in Model.items)
        {
            <div class="col-md-12 row">
                <div class="col-md-1 text-center">
                    <div>
                        <h5>@question.score</h5>
                        <p>votes</p>
                    </div>
                    <div class="mt-3">
                        <h5>@question.answer_count</h5>
                        <p>answers </p>
                    </div>
                    <div class="mt-3">
                        <p>@question.view_count views</p>
                    </div>
                </div>
                <div class="col-md-11" style="padding-top:5px">
                    <a href="~/Home/Quetion/@question.question_id">@question.title</a>
                    <p></p>
                    @foreach (var tag in question.tags)
                    {
                        <span class="badge badge-info">@tag</span>
                    }
                <div class="" style="margin-top:5px">
                    <img class="img-circle" src="@question.owner.profile_image" width="40" height="40" />
                    <h5>@question.owner.display_name</h5>
                </div>
                </div>
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        }
    </div>



